@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --background-color: #000028;

    --header__title-color: rgba(219, 0, 255, 1);
    --section-title-color: var(--accent-color);
    --card-title-color: rgba(0, 0, 40, 1);
    --accent-color: rgba(255, 0, 112, 1);
    --text-color : rgba(241, 178, 206, 1);

    --header__menu-color: var(--accent-color);
    --header__menu-color-hover: rgba(255, 0, 112, 0.4);
    --decorated-zone-color: var(--accent-color);
  }

  .rec-lamp {
    display: block;
  }
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;

  --header__title-color: rgba(219, 0, 255, 1);
  --section-title-color: var(--accent-color);
  --card-title-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --text-color : rgba(241, 178, 206, 1);

  --header__menu-color: var(--accent-color);
  --header__menu-color-hover: rgba(255, 0, 112, 0.4);
  --decorated-zone-color: var(--accent-color);

  .rec-lamp {
    display: block;
  }
}

