@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);

    --title1-color: rgba(219, 0, 255, 1);
    --title3-color: rgba(0, 0, 40, 1);
    --accent-color: rgba(255, 0, 112, 1);
    --text-color : rgba(241, 178, 206, 1);
  }

  .header__theme-menu-button:hover,
  .header__theme-menu-button_active,
  .header__theme-menu-button:focus-visible,
  .title3 {
    --text-color: var(--accent-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.4);
  }

  .rec-lamp {
    display: block;
  }
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);

  --title1-color: rgba(219, 0, 255, 1);
  --title3-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --text-color : rgba(241, 178, 206, 1);

  .header__theme-menu-button,
  .header__theme-menu-button_active,
  .header__theme-menu-button:focus-visible,
  .title3 {
    --text-color: var(--accent-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.4);
  }

  .rec-lamp {
    display: block;
  }
}

