@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;

    --header__title-color: rgba(255, 194, 230, 1);
    --section-title-color: var(--card-title-color);
    --card-title-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --text-color : rgba(53, 52, 48, 1);

    --header__menu-color: var(--text-color);
    --header__menu-color-hover: rgba(50, 49, 45, 0.4);
    --decorated-zone-color: var(--text-color);
  }

  .rec-lamp {
    display: none;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;

  --header__title-color: rgba(255, 194, 230, 1);
  --section-title-color: var(--card-title-color);
  --card-title-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --text-color : rgba(53, 52, 48, 1);

  --header__menu-color: var(--text-color);
  --header__menu-color-hover: rgba(50, 49, 45, 0.4);
  --decorated-zone-color: var(--text-color);

  .rec-lamp {
    display: none;
  }
}



