/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

/* ----------Header---------- */

.header {
  position: relative;
  width: 100%;
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.rec-lamp {
  position: absolute;
  content: "";
  letter-spacing: 1px;
  color: var(--accent-color);
  top: 21px;
  right: 48px;
}

.rec-lamp::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 7px;
  right: -19px;
}

@media (max-width: 700px) {
  .rec-lamp {
    top: 12px;
    right: 38px;
  }
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decorated-zone-color);
  border-bottom: 1px solid var(--decorated-zone-color);
  left: var(--padding);
  bottom: var(--padding);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
  top: var(--padding);
  right: var(--padding);
}

.header__theme-menu {
  justify-self: right;
  align-self: flex-start;
  margin-top: 74px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;

  font-size: var(--text-size);
  text-transform: lowercase;
  color: var(--header__menu-color);
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header__menu-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid var(--header__menu-color);
}

.header__title {
  font-size: var(--header__text-size);
  font-weight: var(--font-weight);
  line-height: 0.84;
  color: var(--header__title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header .header__small-title {
  align-self: flex-start;
  margin-top: 40px;
}

@media (width > 700px) {
  .header {
    --padding: 20px;
  }

  .header__theme-menu {
    align-self: self-start;
    margin-top: 191px;
  }

  .header__title {
    --header__text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .header__title {
    position: relative;
    left: -20px;
  }

  .header .header__small-title {
    width: 50%;
    justify-self: right;
    align-self: start;
    margin-top: 41px;
  }

  .decorated-zone::before {
    --padding: 20px;
  }

  .decorated-zone::after {
    --padding: 20px;
  }
}

@media (700px < width < 1024px) {
  .header {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-top: 0;
    padding-top: var(--padding);
  }

  .header__theme-menu-list {
    grid-template-columns: auto auto auto;
  }

  .header .header__small-title {
    margin-top: 50px;
  }
}

/* ----------Main---------- */

.main {
  min-height: 100vh;
  margin-top: var(--margin);

  display: grid;
  grid-template-columns: auto;
  --gap: 50px;
  gap: var(--gap);

  padding-left: var(--padding);
  padding-right: var(--padding);
}

.section-title {
  font-size: var(--text-size);
  color: var(--section-title-color);
}

.card-title {
  font-size: var(--text-size);
}

.title-decor {
  font-size: var(--text-size);
  font-weight: var(--font-weight);
  color: var(--section-title-color);
  background-color: var(--accent-color);
}

.text {
  font-size: var(--text-size);
  line-height: 1.302;
  color: var(--text-color);
  --font-weight: 400;
  font-weight: var(--font-weight);
}

.card .text {
  margin-top: 10px;
}

.content-why,
.content-what,
.content-how,
.pics-section {
  display: grid;
  grid-auto-flow: row;
  --gap: 20px;
  gap: var(--gap);
}

.content-cards {
  display: grid;
  gap: var(--gap);
}

.content-how .card .card-title:first-child {
  --font-weight: 400;
}

.pics-section {
  --gap: 10px;
  gap: var(--gap);
}

.pics-section .pics-section-title {
  font-size: var(--text-size);
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:focus-visible {
  outline: var(--text-color) solid 1px;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  outline: none;
}

.pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (700px < width) {
  .main {
    --margin: 60px;
    --padding: 20px;
    --gap: 80px;
    gap: var(--gap);
  }

  .content-why,
  .content-how {
    grid-template-columns: 1fr 2fr;
    --gap: 20px;
  }

  .content-what .section-title {
    width: 30%;
  }

  .pics-section {
    grid-template-columns: repeat(auto-fill, auto);
    grid-template-rows: repeat(auto-fill, auto);
    --gap: 20px;
  }

  .pics-section .pics-section-title {
    grid-column: span 3;
  }

  .pic1,
  .pic5 {
    grid-column: span 2;
  }

  .pic2,
  .pic3 {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .content-why,
  .content-how {
    --gap: 10px;
  }

  .content-cards {
    --gap: 20px;
  }

  .content-what .content-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ----------Footer---------- */

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  margin-top: var(--margin);
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer .footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (700px < width) {
  .footer {
    --margin: 60px;
  }
}

@media (700px < width < 1024px) {
  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .footer {
    min-height: 768px;
  }
}