/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ----------Header---------- */

.header {
  position: relative;
  width: 100%;
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.rec-lamp {
  position: absolute;
  content: "";
  letter-spacing: 1px;
  color: var(--accent-color);
  top: 21px;
  right: 48px;
}

.rec-lamp::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 7px;
  right: -19px;
}

@media (max-width: 376px) {
  .rec-lamp {
    top: 12px;
    right: 38px;
  }
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  left: var(--padding);
  bottom: var(--padding);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: var(--padding);
  right: var(--padding);
}

.header__theme-menu {
  justify-self: right;
  align-self: flex-start;
  margin-top: 74px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;

  font-size: var(--text-size);
  text-transform: lowercase;
  color: var(--text-color);
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid var(--text-color);
}

.title1 {
  font-size: var(--header__text-size);
  font-weight: var(--font-weight);
  line-height: 0.84;
  color: var(--title1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header .title4 {
  align-self: flex-start;
  margin-top: 40px;
}

@media (width > 376px) {
  .header {
    --padding: 20px;
  }

  .header__theme-menu {
    align-self: self-start;
    margin-top: 191px;
  }

  .title1 {
    --header__text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .title1 {
    position: relative;
    left: -20px;
  }

  .header .title4 {
    width: 50%;
    justify-self: right;
    align-self: start;
    margin-top: 41px;
  }

  .decorated-zone::before {
    --padding: 20px;
  }

  .decorated-zone::after {
    --padding: 20px;
  }
}

@media (376px < width < 1024px) {
  .header {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-top: 0;
    padding-top: var(--padding);
  }

  .header__theme-menu-list {
    grid-template-columns: auto auto auto;
  }

  .header .title4 {
    margin-top: 50px;
  }
}

/* ----------Main---------- */

.main {
  min-height: 100vh;
  margin-top: var(--margin);

  display: grid;
  grid-template-columns: auto;
  --gap: 50px;
  gap: var(--gap);

  padding-left: var(--padding);
  padding-right: var(--padding);
}

.title3 {
  font-size: var(--text-size);
  color: var(--text-color);
}

.title4 {
  font-size: var(--text-size);
}

.section3 .title4:first-child {
  --font-weight: 400;
}

.title-decor {
  font-weight: var(--font-weight);
  color: var(--title3-color);
  background-color: var(--accent-color);
}

.text {
  font-size: var(--text-size);
  line-height: 1.302;
  color: var(--text-color);
  --font-weight: 400;
  font-weight: var(--font-weight);
}

.card .text {
  margin-top: 10px;
}

.section1,
.section2,
.section3,
.pics-section {
  display: grid;
  grid-auto-flow: row;
  --gap: 20px;
  gap: var(--gap);
}

.pics-section {
  --gap: 10px;
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 2px solid var(--text-color);
}

.link:focus-visible {
  outline: var(--text-color) solid 2px;
  outline-offset: 2px;
}

.pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (376px < width) {
  .main {
    --margin: 60px;
    --padding: 20px;
    --gap: 80px;
    gap: var(--gap);
  }

  .section1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    --gap: 20px;
  }

  .section1 .title3 {
    grid-row: span 2;
  }

  .section1 .card {
    grid-column: span 2;
  }

  .section2 {
    --gap: 20px;
  }
  
  .section2 .title3 {
    width: 30%;
  }

  .section3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    --gap: 20px;
  }

  .section3 .title3 {
    grid-row: span 6;
  }

  .section3 .card {
    grid-column: span 2;
  }

  .pics-section {
    grid-template-columns: repeat(auto-fill, auto);
    grid-template-rows: repeat(auto-fill, auto);
    --gap: 20px;
  }

  .pics-section .title4 {
    grid-column: span 3;
  }

  .pic1,
  .pic5 {
    grid-column: span 2;
  }

  .pic2,
  .pic3 {
    grid-row: span 2;
  }
}

@media (376px < width < 1024px) {
  .section1 .card {
    margin-left: 7px;
  }

  .section3 .card {
    margin-left: 7px;
  }
}

@media (width >= 1024px) {
  .section2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    --gap: 20px;
  }

  .section2 .title3 {
    grid-column: span 3;
    width: 30%;
  }
}

/* ----------Footer---------- */

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  margin-top: var(--margin);
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer .title1 {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (376px < width) {
  .footer {
    --margin: 60px;
  }
}

@media (376px < width < 1024px) {
  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .footer {
    min-height: 768px;
  }
}