/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Переменные тёмной темы */
  /* --header__text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); */
  --header__text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --header__title-color: rgba(219, 0, 255, 1);
  --header__title-shadow-color: rgba(255, 0, 112, 1);
  --header__text-color: rgba(0, 0, 40, 1);
  --header__text-background-color: rgba(255, 0, 112, 1);

  --background-image: url(../images/cover-image-dark.png);

  --padding: 10px;
}
